<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3  col-xs-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">forward</i>

                    </div>
                    <div class="card-content">
                        <p class="category">Murid baru </p>
                        <h3  class="title">{{top.data.activePupil}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            *Dalam 4 minggu terakhir

                        </div>
                    </div>
                </div>
            </div>


                <div class="col-lg-3  col-xs-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">sync_problem</i>

                        </div>
                        <div class="card-content">
                            <p class="category">Murid keluar </p>
                            <h3 class="title">{{top.data.offPupil}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                *Dalam 4 minggu terakhir
                            </div>
                        </div>
                    </div>
                </div>


            <div class="col-lg-6 col-xs-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4    class="title" style="display: inline-block">Thread Forum</h4>

                    </div>
                    <div class="card-content table-responsive">

                        <div style="border-top: 1px solid #ddd">
                            <div class="thread" *ngFor="let data of top.data.thread.data; let i = index;">

                                <div class="row">

                                    <div class="col-xs-12 col-md-9">
                                        <h2 class="threadTitle" [style.fontWeight]="data.isAlreadyRead ? 'normal' : 'bold' " ><a  [routerLink]="['/thread/detail',{id:data.id}]">{{helperService.ucWord(data.title)}}</a></h2>
                                        <p class='notYetRead' *ngIf="!data.isAlreadyRead">Belum dibaca</p>
                                        <p>{{data.firstReply.content}}</p>
                                    </div>

                                    <div class="hidden-xs col-md-3">
                                        <p class="creator">Created By: <br/>{{data.get_creator.name}}</p>
                                    </div>
                                </div>




                            </div>
                        </div>

                        <button class="btn btn-info pull-right " data-toggle="modal" data-target="#modal" (click)="this.presentModal('addThread')" >Create new thread</button>

                        <app-pagination [onClick]="onClickPagination" [filter]="filter" [pagination]="top.data.thread" ></app-pagination>

                    </div>
                </div>

                <!--<app-pagination [onClick]="onClickPagination" *ngIf="top" [filter]="filter" [pagination]="top.data.users"></app-pagination>-->
            </div>


        </div>
    </div>


    <!--Thread-->
    <div class="container-fluid">


        <div class="row " >



        </div>


        <!--container fluid-->
    </div>



    <!--absence-->
    <div class="container-fluid">


        <div class="row" *ngFor="let currentSummaryTarget of top.data.branchSummary; let isPupilIndex = index">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="interest_tabs">
                    <!--top level tabs-->
                    <li  [ngClass]="{active:i==0}"  *ngFor="let currentSummary of currentSummaryTarget; let i = index"><a  [href]="'#summaryContainer'+currentSummary.id + index" data-toggle="tab">{{helperService.getReadableDate(currentSummary.targetDate)}}</a></li>
                </ul>

                <div class="tab-content">

                    <div *ngFor="let currentSummary of currentSummaryTarget; let i=index ;" [id]="'summaryContainer'+currentSummary.id + index" [ngClass]="{active:i==0}" class="card tab-pane active">

                        <div id="all" class="tab-pane">
                            <div class="card-header" data-background-color="red">
                                <h4 class="title" style="display: inline-block">Weekly Absence Report <b>{{isPupilIndex == 0 ? "Teacher" : "Pupil"}}</b></h4>
                                <h5 >{{helperService.getReadableDate(currentSummary.targetDate)}}</h5>
                                <!--<button data-target="#formModal " data-toggle="modal"  (click)="presentModal(selectData)"  class="pull-right btn btn-primary"><i class="material-icons">playlist_add</i> Add new for {{selectData.key}}</button>-->
                                <!--<p class="category">Here is a subtitle for this table</p>-->
                            </div>

                            <div class="card-content table-responsive">
                                <table [id]="'summaryTable'+currentSummary.id" class="table">
                                    <thead class="text-danger">
                                    <tr>
                                        <th class="hidden-xs visible-md">No</th>
                                        <th>Name</th>
                                        <th>Total<br/>Non-Attendance<br/>(Absen)</th>
                                        <th>Total<br/>{{isPupilIndex == 0 ? "Teacher" : "Pupil"}}</th>
                                        <th class="hidden-xs visible-md">Not yet<br/>Follow up</th>
                                        <th class="hidden-xs visible-md">Class Not Yet<br/>Submitted</th>
                                        <th>Attendance / Kehadiran<br/>Percentage</th>
                                        <!--<th>Action</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor="let data of currentSummary.branches; let i = index;">

                                            <td class="hidden-xs visible-md">{{i + 1}}</td>
                                            <td><a [routerLink]="['/branch/detail',{id:data.id}]">{{data.name}}</a></td>
                                            <td>{{data.totalAbsence}}</td>
                                            <td>{{data.totalPupil}}</td>
                                            <td  class="hidden-xs visible-md" [style.color]="data.notYetFollowedUp > 0 ? 'tomato' : 'black'" >{{data.notYetFollowedUp}}</td>
                                            <td class="hidden-xs visible-md">{{data.totalNotDone}}</td>
                                            <td>{{data.availablePercentage}}%</td>

                                        </tr>


                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                    <!--tab content-->
                </div>


                <!--<app-pagination [onClick]="onClickPagination" *ngIf="top" [filter]="filter" [pagination]="top.data.users"></app-pagination>-->
            </div>


        </div>


        <!--container fluid-->
    </div>





    <!--histories-->
    <div class="container-fluid" *ngIf="top.data.isCanHistory">


        <div class="row" style="">
            <div class=" col-xs-12 col-md-6" >
                <div class="card">
                    <div (click)="this.filter.isOpen = !this.filter.isOpen" class="card-header" data-background-color="blue">
                        <h4 class="title">Search for {{title}}</h4>
                        <p class="category">Click here to toggle the menu</p>
                    </div>
                    <div *ngIf="this.filter.isOpen" class="card-content animationExpandBottom">

                        <form #parentFilterForm = "ngForm">
                            <app-row-floating-input [parentForm]="parentFilterForm" [rowBaseForms]="this.filterForm"></app-row-floating-input>
                            <button type="button" class="btn btn-info pull-right" (click)="apiExecuteGetTop()">Search</button>
                        </form>

                    </div>
                </div>
            </div>




        </div>



        <div class="row" >
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title" style="display: inline-block">Users Activity History</h4>
                        <!--<button data-target="#formModal " data-toggle="modal"  (click)="presentModal(selectData)"  class="pull-right btn btn-primary"><i class="material-icons">playlist_add</i> Add new for {{selectData.key}}</button>-->
                        <!--<p class="category">Here is a subtitle for this table</p>-->
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table" style="width:100%;">
                            <thead class="text-danger">
                            <tr>
                                <th>No</th>
                                <th >Name</th>
                                <th class="hidden-xs">Date</th>
                                <th>Event Type</th>
                                <th>Description</th>
                                <!--<th>Action</th>-->
                            </tr>
                            </thead>
                            <tbody *ngIf="top && top.data.histories else noDataFound">
                            <tr *ngFor="let data of top.data.histories.data; let i = index;">

                                <td>{{i + 1}}</td>
                                <td><a [routerLink]="['/profile',{id:data.get_user.id}]">{{data.get_user.name}}</a></td>
                                <td class="hidden-xs">{{helperService.getReadableDate(data.created_at)}}</td>
                                <td>{{data.get_event.key}}</td>
                                <td>{{data.description}}</td>

                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <app-pagination [onClick]="onClickPagination" *ngIf="top" [filter]="filter" [pagination]="top.data.histories"></app-pagination>
            </div>


        </div>


    <!--container fluid-->
    </div>





</div>


<app-my-modal [modalData]="this.modalData" ></app-my-modal>

<ng-template #noDataFound><div class="card-content">No data found</div></ng-template>